.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-img {
  height: 6rem;
  width: 6rem;
  margin-top: 3rem;
}

@media screen and (min-width: 375px) {
  body {
    background-color: lightblue;
  }
}

@media screen and (min-width: 768px) {
  body {
    background-color: lightcoral;
  }
}

@media screen and (min-width: 1280px) {
  body {
    background-color: lightgreen;
  }
}
